In [1]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\15442\appdata\roaming\python\python310\site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\15442\appdata\roaming\python\python310\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\15442\appdata\roaming\python\python310\site-packages (from pandas) (1.23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\15442\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\15442\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\RAW files\\Stage1_Sales_SAL_SOBKNG_TB.csv')

C:\Users\15442\AppData\Local\Temp\ipykernel_6080\1563139292.py:1: DtypeWarning: Columns (35,80) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\RAW files\\Stage1_Sales_SAL_SOBKNG_TB.csv')

In [4]:
df.shape

(953389, 81)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953389 entries, 0 to 953388
Data columns (total 81 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BKNG_DLR_NO             953388 non-null  object
 1   BKNG_NO                 953388 non-null  object
 2   BKNG_CORP_NO            953388 non-null  object
 3   BKNG_CMPN_NO            953388 non-null  object
 4   BKNG_DATE               953388 non-null  object
 5   BKNG_MODEL_CODE         953388 non-null  object
 6   BKNG_VRNT_CODE          953388 non-null  float64
 7   BKNG_COLOR_CODE         953387 non-null  object
 8   BKNG_EXPCT_DLVRY_DATE   167443 non-null  float64
 9   BKNG_VRNT_PRICE         942063 non-null  float64
 10  BKNG_AMT                17799 non-null   float64
 11  BKNG_RCPT_TOTAL_AMT     906449 non-null  float64
 12  BKNG_RCPT_CMPLT_YN      953388 non-null  object
 13  BKNG_ALCN_DATE          507786 non-null  object
 14  BKNG_ALCN_VIN           505379 non-null  object
 15  BKNG_FNCE_TYPE          943447 non-null  float64
 16  BKNG_FNCE_YN            0 non-null       float64
 17  BKNG_FNCER_CODE         441412 non-null  object
 18  BKNG_DSA_NAME           6473 non-null    object
 19  BKNG_LOAN_AMT           518776 non-null  float64
 20  BKNG_TENOR_NMTHS        22050 non-null   float64
 21  BKNG_FILE_NO            0 non-null       float64
 22  BKNG_DO_NO              0 non-null       float64
 23  BKNG_DO_AMT             26839 non-null   float64
 24  BKNG_DO_DATE            44926 non-null   object
 25  BKNG_IFA_AMT            0 non-null       float64
 26  BKNG_INVGT_DATE         0 non-null       float64
 27  BKNG_FLGN_DATE          0 non-null       float64
 28  BKNG_PADS_DATE          0 non-null       float64
 29  BKNG_FNLA_DATE          0 non-null       float64
 30  BKNG_INVGT_STAT         0 non-null       float64
 31  BKNG_CNCL_TYPE          0 non-null       float64
 32  BKNG_CNCL_DATE          1906 non-null    float64
 33  BKNG_CNCL_RMRKS         0 non-null       float64
 34  BKNG_ENQRY_NO           953388 non-null  object
 35  BKNG_EMP_NO             1 non-null       object
 36  BKNG_CUST_NO            0 non-null       float64
 37  BKNG_CRTE_DTIME         953388 non-null  object
 38  BKNG_CRTE_EMP_NO        953388 non-null  object
 39  BKNG_UPDT_DTIME         953388 non-null  object
 40  BKNG_UPDT_EMP_NO        953388 non-null  object
 41  BKNG_RADS_DATE          17799 non-null   object
 42  BKNG_DO_ISSD_BY         27956 non-null   float64
 43  BKNG_DO_CMMT_PMNT_DATE  26309 non-null   object
 44  BKNG_DO_ISSR_NAME       0 non-null       float64
 45  BKNG_DBRS_DATE          0 non-null       float64
 46  BKNG_EXPTD_DBRS_DATE    0 non-null       float64
 47  BKNG_CMTD_DLVRY_DATE    170220 non-null  object
 48  BKNG_RACK_RATE          3370 non-null    float64
 49  BKNG_DSA_CMSN           495228 non-null  float64
 50  BKNG_BRKR_PYMT_TYPE     36 non-null      float64
 51  BKNG_BRKR_PYMT_AMT      0 non-null       float64
 52  BKNG_SALE_TYPE          518116 non-null  float64
 53  BKNG_ADVNC_EMI          518776 non-null  float64
 54  BKNG_IFA_DATE           0 non-null       float64
 55  BKNG_BASIC_PRICE        518779 non-null  float64
 56  BKNG_TAX_PRCNT          518779 non-null  float64
 57  BKNG_EDCE_PRCNT         518779 non-null  float64
 58  BKNG_HYPO_NAME          441201 non-null  object
 59  BKNG_RFND_TOTAL_AMT     951015 non-null  float64
 60  BKNG_CGST_PRCNT         518776 non-null  float64
 61  BKNG_SGST_PRCNT         518776 non-null  float64
 62  BKNG_IGST_PRCNT         518776 non-null  float64
 63  BKNG_INTCOLOR_CODE      953378 non-null  object
 64  BKNG_BILL_TO_NAME       110447 non-null  object
 65  BKNG_BILL_TO_ADDR       109509 non-null  object
 66  BKNG_BILL_TO_STATE      110381 non-null  object
 67  BKNG_BILL_TO_CITY       110365 non-null  object
 68  BKNG_BILL_TO_TEHSIL     104185 non-null  object
 69  BKNG_BILL_TO_VILLAGE    16487 non-null   object
 70  BKNG_BILL_TO_PIN        110353 non-null  float64
 71  BKNG_SHIP_TO_NAME       92280 non-null   object
 72  BKNG_SHIP_TO_ADDR       78880 non-null   object
 73  BKNG_SHIP_TO_STATE      87284 non-null   object
 74  BKNG_SHIP_TO_CITY       87193 non-null   object
 75  BKNG_SHIP_TO_TEHSIL     71220 non-null   object
 76  BKNG_SHIP_TO_VILLAGE    16251 non-null   object
 77  BKNG_SHIP_TO_PIN        87012 non-null   float64
 78  BKNG_FINCR_BRANCH_NM    97039 non-null   object
 79  BKNG_RMRKS              6641 non-null    object
 80  BKNG_SRC_FLG            555044 non-null  object
dtypes: float64(42), object(39)
memory usage: 589.2+ MB

In [6]:
#check null values sum
df.isna().sum()

BKNG_DLR_NO                  1
BKNG_NO                      1
BKNG_CORP_NO                 1
BKNG_CMPN_NO                 1
BKNG_DATE                    1
                         ...
BKNG_SHIP_TO_VILLAGE    937138
BKNG_SHIP_TO_PIN        866377
BKNG_FINCR_BRANCH_NM    856350
BKNG_RMRKS              946748
BKNG_SRC_FLG            398345
Length: 81, dtype: int64

In [7]:
#append the null values column name in list
list = []
for i in df:
    if df[i].isna().sum() == 953389:
        list.append(i)

In [8]:
#list with nulls
list

['BKNG_FNCE_YN',
 'BKNG_FILE_NO',
 'BKNG_DO_NO',
 'BKNG_IFA_AMT',
 'BKNG_INVGT_DATE',
 'BKNG_FLGN_DATE',
 'BKNG_PADS_DATE',
 'BKNG_FNLA_DATE',
 'BKNG_INVGT_STAT',
 'BKNG_CNCL_TYPE',
 'BKNG_CNCL_RMRKS',
 'BKNG_CUST_NO',
 'BKNG_DO_ISSR_NAME',
 'BKNG_DBRS_DATE',
 'BKNG_EXPTD_DBRS_DATE',
 'BKNG_BRKR_PYMT_AMT',
 'BKNG_IFA_DATE']

In [9]:
#drop the colummn having nulls
df.drop(['BKNG_FNCE_YN',
 'BKNG_FILE_NO',
 'BKNG_DO_NO',
 'BKNG_IFA_AMT',
 'BKNG_INVGT_DATE',
 'BKNG_FLGN_DATE',
 'BKNG_PADS_DATE',
 'BKNG_FNLA_DATE',
 'BKNG_INVGT_STAT',
 'BKNG_CNCL_TYPE',
 'BKNG_CNCL_RMRKS',
 'BKNG_DO_ISSR_NAME',
 'BKNG_DBRS_DATE',
 'BKNG_EXPTD_DBRS_DATE',
 'BKNG_BRKR_PYMT_AMT',
 'BKNG_IFA_DATE'], axis=1, inplace = True)

In [10]:
df.shape

(953389, 65)

In [11]:
#column after null removal
df.columns

Index(['BKNG_DLR_NO', 'BKNG_NO', 'BKNG_CORP_NO', 'BKNG_CMPN_NO', 'BKNG_DATE',
       'BKNG_MODEL_CODE', 'BKNG_VRNT_CODE', 'BKNG_COLOR_CODE',
       'BKNG_EXPCT_DLVRY_DATE', 'BKNG_VRNT_PRICE', 'BKNG_AMT',
       'BKNG_RCPT_TOTAL_AMT', 'BKNG_RCPT_CMPLT_YN', 'BKNG_ALCN_DATE',
       'BKNG_ALCN_VIN', 'BKNG_FNCE_TYPE', 'BKNG_FNCER_CODE', 'BKNG_DSA_NAME',
       'BKNG_LOAN_AMT', 'BKNG_TENOR_NMTHS', 'BKNG_DO_AMT', 'BKNG_DO_DATE',
       'BKNG_CNCL_DATE', 'BKNG_ENQRY_NO', 'BKNG_EMP_NO', 'BKNG_CUST_NO',
       'BKNG_CRTE_DTIME', 'BKNG_CRTE_EMP_NO', 'BKNG_UPDT_DTIME',
       'BKNG_UPDT_EMP_NO', 'BKNG_RADS_DATE', 'BKNG_DO_ISSD_BY',
       'BKNG_DO_CMMT_PMNT_DATE', 'BKNG_CMTD_DLVRY_DATE', 'BKNG_RACK_RATE',
       'BKNG_DSA_CMSN', 'BKNG_BRKR_PYMT_TYPE', 'BKNG_SALE_TYPE',
       'BKNG_ADVNC_EMI', 'BKNG_BASIC_PRICE', 'BKNG_TAX_PRCNT',
       'BKNG_EDCE_PRCNT', 'BKNG_HYPO_NAME', 'BKNG_RFND_TOTAL_AMT',
       'BKNG_CGST_PRCNT', 'BKNG_SGST_PRCNT', 'BKNG_IGST_PRCNT',
       'BKNG_INTCOLOR_CODE', 'BKNG_BILL_TO_NAME', 'BKNG_BILL_TO_ADDR',
       'BKNG_BILL_TO_STATE', 'BKNG_BILL_TO_CITY', 'BKNG_BILL_TO_TEHSIL',
       'BKNG_BILL_TO_VILLAGE', 'BKNG_BILL_TO_PIN', 'BKNG_SHIP_TO_NAME',
       'BKNG_SHIP_TO_ADDR', 'BKNG_SHIP_TO_STATE', 'BKNG_SHIP_TO_CITY',
       'BKNG_SHIP_TO_TEHSIL', 'BKNG_SHIP_TO_VILLAGE', 'BKNG_SHIP_TO_PIN',
       'BKNG_FINCR_BRANCH_NM', 'BKNG_RMRKS', 'BKNG_SRC_FLG'],
      dtype='object')

In [12]:
# list2 = ['BKNG_DLR_NO',
#  'BKNG_NO',
#  'BKNG_CORP_NO',
#  'BKNG_CMPN_NO',
#  'BKNG_DATE',
#  'BKNG_MODEL_CODE',
#  'BKNG_VRNT_CODE',
#  'BKNG_COLOR_CODE',
#  'BKNG_EXPCT_DLVRY_DATE',
#  'BKNG_VRNT_PRICE',
#  'BKNG_AMT',
#  'BKNG_RCPT_TOTAL_AMT',
#  'BKNG_ALCN_DATE',
#  'BKNG_FNCE_TYPE',
#  'BKNG_FNCE_YN',
#  'BKNG_DSA_NAME',
#  'BKNG_DO_AMT',
#  'BKNG_CNCL_DATE',
#  'BKNG_CNCL_RMRKS',
#  'BKNG_ENQRY_NO',
#  'BKNG_EMP_NO',
#  'BKNG_CUST_NO',
#  'BKNG_CRTE_DTIME',
#  'BKNG_CRTE_EMP_NO',
#  'BKNG_UPDT_DTIME',
#  'BKNG_CMTD_DLVRY_DATE',
#  'BKNG_SALE_TYPE',
#  'BKNG_INTCOLOR_CODE',
#  'BKNG_BILL_TO_STATE',
#  'BKNG_BILL_TO_CITY',
#  'BKNG_BILL_TO_TEHSIL',
#  'BKNG_BILL_TO_VILLAGE',
#  'BKNG_RMRKS',
#  'BKNG_SRC_FLG']

In [13]:
#comparing the name(from google sheet) and removing extras
list3 = []
for i in df:
    list2 = ['BKNG_DLR_NO',
 'BKNG_NO',
 'BKNG_CORP_NO',
 'BKNG_CMPN_NO',
 'BKNG_DATE',
 'BKNG_MODEL_CODE',
 'BKNG_VRNT_CODE',
 'BKNG_COLOR_CODE',
 'BKNG_EXPCT_DLVRY_DATE',
 'BKNG_VRNT_PRICE',
 'BKNG_AMT',
 'BKNG_RCPT_TOTAL_AMT',
 'BKNG_ALCN_DATE',
 'BKNG_FNCE_TYPE',
 'BKNG_FNCE_YN',
 'BKNG_DSA_NAME',
 'BKNG_DO_AMT',
 'BKNG_CNCL_DATE',
 'BKNG_CNCL_RMRKS',
 'BKNG_ENQRY_NO',
 'BKNG_EMP_NO',
 'BKNG_CUST_NO',
 'BKNG_CRTE_DTIME',
 'BKNG_CRTE_EMP_NO',
 'BKNG_UPDT_DTIME',
 'BKNG_CMTD_DLVRY_DATE',
 'BKNG_SALE_TYPE',
 'BKNG_INTCOLOR_CODE',
 'BKNG_BILL_TO_STATE',
 'BKNG_BILL_TO_CITY',
 'BKNG_BILL_TO_TEHSIL',
 'BKNG_BILL_TO_VILLAGE',
 'BKNG_RMRKS',
 'BKNG_SRC_FLG']
    for j in list2:
        if i == j:
            list3.append(df[i])         #I hadn't taken df list will contain column name

In [14]:
updt_df  = pd.DataFrame(list3)

In [15]:
updt_df.shape

(32, 953389)

In [16]:
#Transpose the df
new_df = updt_df.T

In [17]:
new_df

,BKNG_DLR_NO,BKNG_NO,BKNG_CORP_NO,BKNG_CMPN_NO,BKNG_DATE,BKNG_MODEL_CODE,BKNG_VRNT_CODE,BKNG_COLOR_CODE,BKNG_EXPCT_DLVRY_DATE,BKNG_VRNT_PRICE,...,BKNG_UPDT_DTIME,BKNG_CMTD_DLVRY_DATE,BKNG_SALE_TYPE,BKNG_INTCOLOR_CODE,BKNG_BILL_TO_STATE,BKNG_BILL_TO_CITY,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG
0,TRDL101,B201900001,A10VA,K,2019-07-16,TI,123.0,GWP,NaN,NaN,...,22-09-19 18:47,NaN,NaN,GYT,NaN,NaN,NaN,NaN,NaN,NaN
1,TRUP403,B201900002,A10VA,K,2019-07-16,TI,7.0,KDG,NaN,0.0,...,26-08-19 14:19,NaN,NaN,WK,UTTAR PRADESH,Ghaziabad,Ghaziabad,NaN,NaN,NaN
2,TRUP403,B201900003,A10VA,K,2019-07-16,TI,123.0,A6R,NaN,0.0,...,06-09-19 15:25,NaN,NaN,WK,UTTAR PRADESH,NOIDA,Noida,NaN,NaN,NaN
3,TRTN403,B201900001,A10VA,K,2019-07-16,TI,6.0,GWP,NaN,0.0,...,24-01-20 00:15,NaN,NaN,WK,NaN,NaN,NaN,NaN,NaN,NaN
4,TRDL404,B201900004,A10VA,K,2019-07-16,TI,208.0,GWP,NaN,1699000.0,...,23-10-19 15:58,NaN,50.0,GYT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953384,TRMH104,B202206106,A10VA,K,2022-08-07,TI,123.0,A6R,NaN,0.0,...,07-08-22 18:48,NaN,NaN,GYT,NaN,NaN,NaN,NaN,NaN,MOB
953385,TRDL407,B202207751,A10VA,K,2022-08-07,SX,322.0,A6R,NaN,0.0,...,07-08-22 18:54,NaN,NaN,WK,NaN,NaN,NaN,NaN,NaN,MOB
953386,TRHR304,B202207491,A10VA,K,2022-08-07,SX,322.0,A6R,NaN,0.0,...,07-08-22 19:32,NaN,NaN,WK,NaN,NaN,NaN,NaN,NaN,MOB
953387,TRKA301,B202208498,A10VA,K,2022-08-07,SX,279.0,KCS,NaN,0.0,...,07-08-22 19:41,NaN,NaN,GYT,NaN,NaN,NaN,NaN,NaN,MOB
953388,TRMH406,B202204927,A10VA,K,2022-08-07,SX,304.0,GWP,NaN,0.0,...,07-08-22 19:59,NaN,NaN,GYT,NaN,NaN,NaN,NaN,NaN,MOB

In [18]:
new_df.shape

(953389, 32)

In [19]:
column_indices = [0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31]
new_names = ['Dealer_No',
 'Booking_No',
 'Corporation_No',
 'Company_No',
 'BKNG_DATE',
 'Model_Code',
 'TRIM_Code',
 'Ext.Colour_Code',
 'BKNG_EXPCT_DLVRY_DATE',
 'BKNG_VRNT_PRICE',
 'BKNG_AMT',
 'BKNG_RCPT_TOTAL_AMT',
 'BKNG_ALCN_DATE',
 'BKNG_FNCE_TYPE',
 'BKNG_DSA_NAME',
 'BKNG_DO_AMT',
 'BKNG_CNCL_DATE',
 'Link_Enquiry_No',
 'BKNG_EMP_NO',
 'Customer_No',
 'BKNG_CRTE_DTIME',
 'BKNG_CRTE_EMP_NO',
 'BKNG_UPDT_DTIME',
 'BKNG_CMTD_DLVRY_DATE',
 'BKNG_SALE_TYPE',
 'Int.Colour_Code',
 'BKNG_BILL_TO_STATE',
 'BKNG_BILL_TO_CITY',
 'BKNG_BILL_TO_TEHSIL',
 'BKNG_BILL_TO_VILLAGE',
 'BKNG_RMRKS',
 'BKNG_SRC_FLG']
old_names = new_df.columns[column_indices]
new_df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

In [20]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953389 entries, 0 to 953388
Data columns (total 32 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Dealer_No              953388 non-null  object
 1   Booking_No             953388 non-null  object
 2   Corporation_No         953388 non-null  object
 3   Company_No             953388 non-null  object
 4   BKNG_DATE              953388 non-null  object
 5   Model_Code             953388 non-null  object
 6   TRIM_Code              953388 non-null  object
 7   Ext.Colour_Code        953387 non-null  object
 8   BKNG_EXPCT_DLVRY_DATE  167443 non-null  object
 9   BKNG_VRNT_PRICE        942063 non-null  object
 10  BKNG_AMT               17799 non-null   object
 11  BKNG_RCPT_TOTAL_AMT    906449 non-null  object
 12  BKNG_ALCN_DATE         507786 non-null  object
 13  BKNG_FNCE_TYPE         943447 non-null  object
 14  BKNG_DSA_NAME          6473 non-null    object
 15  BKNG_DO_AMT            26839 non-null   object
 16  BKNG_CNCL_DATE         1906 non-null    object
 17  Link_Enquiry_No        953388 non-null  object
 18  BKNG_EMP_NO            1 non-null       object
 19  Customer_No            0 non-null       object
 20  BKNG_CRTE_DTIME        953388 non-null  object
 21  BKNG_CRTE_EMP_NO       953388 non-null  object
 22  BKNG_UPDT_DTIME        953388 non-null  object
 23  BKNG_CMTD_DLVRY_DATE   170220 non-null  object
 24  BKNG_SALE_TYPE         518116 non-null  object
 25  Int.Colour_Code        953378 non-null  object
 26  BKNG_BILL_TO_STATE     110381 non-null  object
 27  BKNG_BILL_TO_CITY      110365 non-null  object
 28  BKNG_BILL_TO_TEHSIL    104185 non-null  object
 29  BKNG_BILL_TO_VILLAGE   16487 non-null   object
 30  BKNG_RMRKS             6641 non-null    object
 31  BKNG_SRC_FLG           555044 non-null  object
dtypes: object(32)
memory usage: 232.8+ MB

In [21]:
new_df.shape

(953389, 32)

In [22]:
new_df['BKNG_AMT']

0         25000.0
1             NaN
2             NaN
3             NaN
4             NaN
           ...
953384        NaN
953385        NaN
953386        NaN
953387        NaN
953388        NaN
Name: BKNG_AMT, Length: 953389, dtype: object

In [23]:
new_df['BKNG_AMT'] = new_df['BKNG_AMT'].fillna(0)

In [24]:
new_df['BKNG_AMT']

0         25000.0
1             0.0
2             0.0
3             0.0
4             0.0
           ...
953384        0.0
953385        0.0
953386        0.0
953387        0.0
953388        0.0
Name: BKNG_AMT, Length: 953389, dtype: float64

In [25]:
new_df["BKNG_AMT"] = new_df["BKNG_AMT"].astype(int)

In [26]:
new_df['BKNG_AMT']

0         25000
1             0
2             0
3             0
4             0
          ...
953384        0
953385        0
953386        0
953387        0
953388        0
Name: BKNG_AMT, Length: 953389, dtype: int32

In [27]:
new_df.rename(columns={"BKNG_AMT":"Booking_Amt"},inplace = True)

In [28]:
new_df['Booking_Amt']

0         25000
1             0
2             0
3             0
4             0
          ...
953384        0
953385        0
953386        0
953387        0
953388        0
Name: Booking_Amt, Length: 953389, dtype: int32

In [29]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953389 entries, 0 to 953388
Data columns (total 32 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Dealer_No              953388 non-null  object
 1   Booking_No             953388 non-null  object
 2   Corporation_No         953388 non-null  object
 3   Company_No             953388 non-null  object
 4   BKNG_DATE              953388 non-null  object
 5   Model_Code             953388 non-null  object
 6   TRIM_Code              953388 non-null  object
 7   Ext.Colour_Code        953387 non-null  object
 8   BKNG_EXPCT_DLVRY_DATE  167443 non-null  object
 9   BKNG_VRNT_PRICE        942063 non-null  object
 10  Booking_Amt            953389 non-null  int32
 11  BKNG_RCPT_TOTAL_AMT    906449 non-null  object
 12  BKNG_ALCN_DATE         507786 non-null  object
 13  BKNG_FNCE_TYPE         943447 non-null  object
 14  BKNG_DSA_NAME          6473 non-null    object
 15  BKNG_DO_AMT            26839 non-null   object
 16  BKNG_CNCL_DATE         1906 non-null    object
 17  Link_Enquiry_No        953388 non-null  object
 18  BKNG_EMP_NO            1 non-null       object
 19  Customer_No            0 non-null       object
 20  BKNG_CRTE_DTIME        953388 non-null  object
 21  BKNG_CRTE_EMP_NO       953388 non-null  object
 22  BKNG_UPDT_DTIME        953388 non-null  object
 23  BKNG_CMTD_DLVRY_DATE   170220 non-null  object
 24  BKNG_SALE_TYPE         518116 non-null  object
 25  Int.Colour_Code        953378 non-null  object
 26  BKNG_BILL_TO_STATE     110381 non-null  object
 27  BKNG_BILL_TO_CITY      110365 non-null  object
 28  BKNG_BILL_TO_TEHSIL    104185 non-null  object
 29  BKNG_BILL_TO_VILLAGE   16487 non-null   object
 30  BKNG_RMRKS             6641 non-null    object
 31  BKNG_SRC_FLG           555044 non-null  object
dtypes: int32(1), object(31)
memory usage: 229.1+ MB

In [30]:
new_df["BKNG_SRC_FLG"] = new_df["BKNG_SRC_FLG"].astype(str)

In [31]:
new_df["BKNG_SRC_FLG"]

0         nan
1         nan
2         nan
3         nan
4         nan
         ...
953384    MOB
953385    MOB
953386    MOB
953387    MOB
953388    MOB
Name: BKNG_SRC_FLG, Length: 953389, dtype: object

In [32]:
BKNG_SRC_FLG_list = []
for i in new_df["BKNG_SRC_FLG"]:
        BKNG_SRC_FLG_list.append(i)

In [33]:
for i in range(len(BKNG_SRC_FLG_list)):
    if BKNG_SRC_FLG_list[i] == 'MOB':
        BKNG_SRC_FLG_list[i] = 'MySales'

In [34]:
for i in range(len(BKNG_SRC_FLG_list)):
    if BKNG_SRC_FLG_list[i] != 'nan' and BKNG_SRC_FLG_list[i] != 'MySales':
        BKNG_SRC_FLG_list[i] = 'Online'
    elif BKNG_SRC_FLG_list[i] == 'nan':
        BKNG_SRC_FLG_list[i] = 'DMS'

In [35]:
# BKNG_SRC_FLG_list[-50:-1]

In [36]:
# for i in range(len(BKNG_SRC_FLG_list)):
#     if BKNG_SRC_FLG_list[i] == 'Online':
#         print(i)

In [37]:
# BKNG_SRC_FLG_list[140602]

In [38]:
# new_df.shape

In [39]:
new_df['Booking_Source_Type'] = BKNG_SRC_FLG_list

In [40]:
new_df['Booking_Source_Type']

0             DMS
1             DMS
2             DMS
3             DMS
4             DMS
           ...
953384    MySales
953385    MySales
953386    MySales
953387    MySales
953388    MySales
Name: Booking_Source_Type, Length: 953389, dtype: object

In [41]:
# new_df.info()

In [42]:
new_df['Booking_Source'] = new_df['BKNG_SRC_FLG'].apply(lambda x: 'MOBILE' if x == 'MOB' else x.upper())

In [43]:
new_df['Booking_Source']

0            NAN
1            NAN
2            NAN
3            NAN
4            NAN
           ...
953384    MOBILE
953385    MOBILE
953386    MOBILE
953387    MOBILE
953388    MOBILE
Name: Booking_Source, Length: 953389, dtype: object

In [44]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953389 entries, 0 to 953388
Data columns (total 34 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Dealer_No              953388 non-null  object
 1   Booking_No             953388 non-null  object
 2   Corporation_No         953388 non-null  object
 3   Company_No             953388 non-null  object
 4   BKNG_DATE              953388 non-null  object
 5   Model_Code             953388 non-null  object
 6   TRIM_Code              953388 non-null  object
 7   Ext.Colour_Code        953387 non-null  object
 8   BKNG_EXPCT_DLVRY_DATE  167443 non-null  object
 9   BKNG_VRNT_PRICE        942063 non-null  object
 10  Booking_Amt            953389 non-null  int32
 11  BKNG_RCPT_TOTAL_AMT    906449 non-null  object
 12  BKNG_ALCN_DATE         507786 non-null  object
 13  BKNG_FNCE_TYPE         943447 non-null  object
 14  BKNG_DSA_NAME          6473 non-null    object
 15  BKNG_DO_AMT            26839 non-null   object
 16  BKNG_CNCL_DATE         1906 non-null    object
 17  Link_Enquiry_No        953388 non-null  object
 18  BKNG_EMP_NO            1 non-null       object
 19  Customer_No            0 non-null       object
 20  BKNG_CRTE_DTIME        953388 non-null  object
 21  BKNG_CRTE_EMP_NO       953388 non-null  object
 22  BKNG_UPDT_DTIME        953388 non-null  object
 23  BKNG_CMTD_DLVRY_DATE   170220 non-null  object
 24  BKNG_SALE_TYPE         518116 non-null  object
 25  Int.Colour_Code        953378 non-null  object
 26  BKNG_BILL_TO_STATE     110381 non-null  object
 27  BKNG_BILL_TO_CITY      110365 non-null  object
 28  BKNG_BILL_TO_TEHSIL    104185 non-null  object
 29  BKNG_BILL_TO_VILLAGE   16487 non-null   object
 30  BKNG_RMRKS             6641 non-null    object
 31  BKNG_SRC_FLG           953389 non-null  object
 32  Booking_Source_Type    953389 non-null  object
 33  Booking_Source         953389 non-null  object
dtypes: int32(1), object(33)
memory usage: 243.7+ MB

In [45]:
new_df['Dealer_Booking'] = new_df['Dealer_No']+new_df['Booking_No']

In [46]:
new_df['Dealer_Booking']

0         TRDL101B201900001
1         TRUP403B201900002
2         TRUP403B201900003
3         TRTN403B201900001
4         TRDL404B201900004
                ...
953384    TRMH104B202206106
953385    TRDL407B202207751
953386    TRHR304B202207491
953387    TRKA301B202208498
953388    TRMH406B202204927
Name: Dealer_Booking, Length: 953389, dtype: object

In [47]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953389 entries, 0 to 953388
Data columns (total 35 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Dealer_No              953388 non-null  object
 1   Booking_No             953388 non-null  object
 2   Corporation_No         953388 non-null  object
 3   Company_No             953388 non-null  object
 4   BKNG_DATE              953388 non-null  object
 5   Model_Code             953388 non-null  object
 6   TRIM_Code              953388 non-null  object
 7   Ext.Colour_Code        953387 non-null  object
 8   BKNG_EXPCT_DLVRY_DATE  167443 non-null  object
 9   BKNG_VRNT_PRICE        942063 non-null  object
 10  Booking_Amt            953389 non-null  int32
 11  BKNG_RCPT_TOTAL_AMT    906449 non-null  object
 12  BKNG_ALCN_DATE         507786 non-null  object
 13  BKNG_FNCE_TYPE         943447 non-null  object
 14  BKNG_DSA_NAME          6473 non-null    object
 15  BKNG_DO_AMT            26839 non-null   object
 16  BKNG_CNCL_DATE         1906 non-null    object
 17  Link_Enquiry_No        953388 non-null  object
 18  BKNG_EMP_NO            1 non-null       object
 19  Customer_No            0 non-null       object
 20  BKNG_CRTE_DTIME        953388 non-null  object
 21  BKNG_CRTE_EMP_NO       953388 non-null  object
 22  BKNG_UPDT_DTIME        953388 non-null  object
 23  BKNG_CMTD_DLVRY_DATE   170220 non-null  object
 24  BKNG_SALE_TYPE         518116 non-null  object
 25  Int.Colour_Code        953378 non-null  object
 26  BKNG_BILL_TO_STATE     110381 non-null  object
 27  BKNG_BILL_TO_CITY      110365 non-null  object
 28  BKNG_BILL_TO_TEHSIL    104185 non-null  object
 29  BKNG_BILL_TO_VILLAGE   16487 non-null   object
 30  BKNG_RMRKS             6641 non-null    object
 31  BKNG_SRC_FLG           953389 non-null  object
 32  Booking_Source_Type    953389 non-null  object
 33  Booking_Source         953389 non-null  object
 34  Dealer_Booking         953387 non-null  object
dtypes: int32(1), object(34)
memory usage: 250.9+ MB

In [48]:
# new_df.to_csv("C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\Stage1_Sales_SAL_SOBKNG_TB(m).csv",index=False)

In [49]:
# new_df['Booking_Source_Type'] = new_df['BKNG_SRC_FLG']

In [50]:
# new_df['BKNG_SRC_FLG']

In [51]:
# new_df['Booking_Source_Type']

In [52]:
# if (new_df['Booking_Source_Type'].str.len() > 0):
#     if (new_df['Booking_Source_Type'] != 'MOB'):
#          new_df['Booking_Source_Type'] = 'Online'

In [53]:
# new_df.loc[new_df['Booking_Source_Type'] == "MOB", "Booking_Source_Type"] = 'MySales'
# ------------------------------------------------------------------------------------------------------------------------------
# for i in new_df['Booking_Source_Type']:
#     if i == 'MOB':
#         i = 'MySales'
#     else:
#         if len(i)>0:
#             i = 'Online'
#         else:
#             i = 'DMS'
# ------------------------------------------------------------------------------------------------------------------------------
# for i in new_df['Booking_Source_Type']:
#     if len(i)>0 and i!=MySales:
#             new_df.loc[len(new_df['Booking_Source_Type']) > 0, "Booking_Source_Type"] = 'Online'
#         else:
#             i = 'DMS'

In [54]:
# new_df['Booking_Source_Type'].apply(lambda x: 'MySales' if x == 'MOB' else 
#                                     new_df['Booking_Source_Type'].apply(lambda y: 'Online' if y > 0 and y!= 'MySales' else 'DMS' ) )

In [55]:
# new_df['Booking_Source_Type'] = new_df.apply(lambda x: 'MySales' if new_df['Booking_Source_Type'] == 'MOB' else ('Online' if new_df['Booking_Source_Type'].apply(len) > 0 else 'DMS'))

In [56]:
# for i in new_df['Booking_Source_Type']:
#     if i == 'MOB':
#         i = 'MySales'
#     else:
#         if len(i) > 0:
#             i = 'Online'
#         else:
#             i = 'DMS'
    
# if new_df['Booking_Source_Type'] == 'MOB':
#     new_df['Booking_Source_Type'] = 'MySales'
# else:
#     if new_df['Booking_Source_Type'].apply(len) > 0:
#         new_df['Booking_Source_Type'] = 'Online'
#     else:
#         new_df['Booking_Source_Type'] = 'DMS'

In [57]:
# import numpy as np

In [58]:
# if 'MOB' in new_df['Booking_Source_Type'].values:
#     new_df['Booking_Source_Type'].replace('MOB','MySales',inplace = True)
# elif 'nan' in new_df['Booking_Source_Type'].values:
#     new_df['Booking_Source_Type'].replace('nan','DMS',inplace = True)
# else:
#     new_df['Booking_Source_Type'] = np.where((new_df['Booking_Source_Type']!= 'MySales') & (new_df['Booking_Source_Type']!= 'DMS')  ,'Online')

In [59]:
# new_df['Booking_Source_Type']

In [60]:
# if 'MOB' in new_df['Booking_Source_Type'].values:
#      new_df['Booking_Source_Type'].replace('MOB','MySales',inplace = True)
# else:
#     if len(new_df['Booking_Source_Type']) > 0:
#         new_df['Booking_Source_Type'] = 'Online'
#     else:
#         new_df['Booking_Source_Type'] = 'DMS'