In [70]:
import pandas as pd

In [71]:
df = pd.read_csv("C:\\Users\\15442\\Desktop\\Files\\ETL\\Stage1_Sales_CRM_SCEQCR_TB.csv")

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1614260 entries, 0 to 1614259
Data columns (total 19 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   EQCR_DLR_NO          1614260 non-null  object
 1   EQCR_ENQRY_NO        1614260 non-null  object
 2   EQCR_SEQ             1614260 non-null  int64
 3   EQCR_CORP_NO         1614260 non-null  object
 4   EQCR_CMPN_NO         1614260 non-null  object
 5   EQCR_MODEL_CODE      1614259 non-null  object
 6   EQCR_VRNT_CODE       1440534 non-null  float64
 7   EQCR_COLOR_CODE      1394445 non-null  object
 8   EQCR_QTY             1614260 non-null  int64
 9   EQCR_CRTE_DTIME      1614260 non-null  object
 10  EQCR_CRTE_EMP_NO     1614260 non-null  object
 11  EQCR_UPDT_DTIME      1614260 non-null  object
 12  EQCR_UPDT_EMP_NO     1614260 non-null  object
 13  EQCR_INTCOLOR_CODE   1236663 non-null  object
 14  EQCR_MAKER_CODE      288139 non-null   object
 15  EQCR_INT_COLOR_CODE  1352046 non-null  object
 16  EQCR_QUOTED_PRICE    311009 non-null   float64
 17  EQCR_EXPECTED_PRICE  179573 non-null   float64
 18  EQCR_FUEL_TYPE       1612581 non-null  object
dtypes: float64(3), int64(2), object(14)
memory usage: 234.0+ MB

In [73]:
df.shape

(1614260, 19)

In [74]:
df.columns

Index(['EQCR_DLR_NO', 'EQCR_ENQRY_NO', 'EQCR_SEQ', 'EQCR_CORP_NO',
       'EQCR_CMPN_NO', 'EQCR_MODEL_CODE', 'EQCR_VRNT_CODE', 'EQCR_COLOR_CODE',
       'EQCR_QTY', 'EQCR_CRTE_DTIME', 'EQCR_CRTE_EMP_NO', 'EQCR_UPDT_DTIME',
       'EQCR_UPDT_EMP_NO', 'EQCR_INTCOLOR_CODE', 'EQCR_MAKER_CODE',
       'EQCR_INT_COLOR_CODE', 'EQCR_QUOTED_PRICE', 'EQCR_EXPECTED_PRICE',
       'EQCR_FUEL_TYPE'],
      dtype='object')

In [75]:
list1 = ['EQCR_DLR_NO',
 'EQCR_ENQRY_NO',
 'EQCR_SEQ',
 'EQCR_CORP_NO',
 'EQCR_CMPN_NO',
 'EQCR_QTY',
 'EQCR_QUOTED_PRICE',
 'EQCR_EXPECTED_PRICE']

In [76]:
df_list = []
for i in df:
    df_list.append(i)

In [77]:
df_list

['EQCR_DLR_NO',
 'EQCR_ENQRY_NO',
 'EQCR_SEQ',
 'EQCR_CORP_NO',
 'EQCR_CMPN_NO',
 'EQCR_MODEL_CODE',
 'EQCR_VRNT_CODE',
 'EQCR_COLOR_CODE',
 'EQCR_QTY',
 'EQCR_CRTE_DTIME',
 'EQCR_CRTE_EMP_NO',
 'EQCR_UPDT_DTIME',
 'EQCR_UPDT_EMP_NO',
 'EQCR_INTCOLOR_CODE',
 'EQCR_MAKER_CODE',
 'EQCR_INT_COLOR_CODE',
 'EQCR_QUOTED_PRICE',
 'EQCR_EXPECTED_PRICE',
 'EQCR_FUEL_TYPE']

In [78]:
list3 = []
for i in df_list:
    if i not in list1:
        list3.append(i)

In [79]:
list3

['EQCR_MODEL_CODE',
 'EQCR_VRNT_CODE',
 'EQCR_COLOR_CODE',
 'EQCR_CRTE_DTIME',
 'EQCR_CRTE_EMP_NO',
 'EQCR_UPDT_DTIME',
 'EQCR_UPDT_EMP_NO',
 'EQCR_INTCOLOR_CODE',
 'EQCR_MAKER_CODE',
 'EQCR_INT_COLOR_CODE',
 'EQCR_FUEL_TYPE']

In [80]:
len(df_list)

19

In [81]:
len(list1)

8

In [82]:
len(list3)

11

In [83]:
df.drop(['EQCR_MODEL_CODE',
 'EQCR_VRNT_CODE',
 'EQCR_COLOR_CODE',
 'EQCR_CRTE_DTIME',
 'EQCR_CRTE_EMP_NO',
 'EQCR_UPDT_DTIME',
 'EQCR_UPDT_EMP_NO',
 'EQCR_INTCOLOR_CODE',
 'EQCR_MAKER_CODE',
 'EQCR_INT_COLOR_CODE',
 'EQCR_FUEL_TYPE'], axis=1, inplace = True)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1614260 entries, 0 to 1614259
Data columns (total 8 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   EQCR_DLR_NO          1614260 non-null  object
 1   EQCR_ENQRY_NO        1614260 non-null  object
 2   EQCR_SEQ             1614260 non-null  int64
 3   EQCR_CORP_NO         1614260 non-null  object
 4   EQCR_CMPN_NO         1614260 non-null  object
 5   EQCR_QTY             1614260 non-null  int64
 6   EQCR_QUOTED_PRICE    311009 non-null   float64
 7   EQCR_EXPECTED_PRICE  179573 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 98.5+ MB

In [88]:
column_indices = [0,
 1,
 2,
 3,
 4,
 5,
 6,
 7]
new_names = ['Dealer_No',
 'Link_Enquiry_No',
 'EQCR_SEQ',
 'Corporation_No',
 'Company_No',
 'Booking_Qty1',
 'EQCR_QUOTED_PRICE',
 'EQCR_EXPECTED_PRICE']
old_names = df.columns[column_indices]
df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1614260 entries, 0 to 1614259
Data columns (total 8 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Dealer_No            1614260 non-null  object
 1   Link_Enquiry_No      1614260 non-null  object
 2   EQCR_SEQ             1614260 non-null  int64
 3   Corporation_No       1614260 non-null  object
 4   Company_No           1614260 non-null  object
 5   Booking_Qty1         1614260 non-null  int64
 6   EQCR_QUOTED_PRICE    311009 non-null   float64
 7   EQCR_EXPECTED_PRICE  179573 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 98.5+ MB

In [90]:
df.shape

(1614260, 8)