In [146]:
import pandas as pd

In [147]:
df = pd.read_csv("C:\\Users\\15442\\Desktop\\Files\\ETL\\Stage1_Sales_SAL_SWINVC_TB.csv")

C:\Users\15442\AppData\Local\Temp\ipykernel_12408\198455636.py:1: DtypeWarning: Columns (24,25,26,44,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\\Users\\15442\\Desktop\\Files\\ETL\\Stage1_Sales_SAL_SWINVC_TB.csv")

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951070 entries, 0 to 951069
Data columns (total 60 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   INVC_DLR_NO             951070 non-null  object
 1   INVC_NO                 951070 non-null  object
 2   INVC_CORP_NO            951070 non-null  object
 3   INVC_CMPN_NO            951070 non-null  object
 4   INVC_TYPE               520694 non-null  object
 5   INVC_CNFM_YN            503571 non-null  object
 6   INVC_CNFM_DATE          511259 non-null  object
 7   INVC_DATE               951070 non-null  object
 8   INVC_INSR_YN            495921 non-null  object
 9   INVC_INSR_AMT           0 non-null       float64
 10  INVC_INSR_DATE          1 non-null       float64
 11  INVC_INSR_TYPE          0 non-null       float64
 12  INVC_INSR_NO            500152 non-null  object
 13  INVC_RGSTN_NO           499968 non-null  object
 14  INVC_RGSTN_DATE         500141 non-null  object
 15  INVC_DLVRY_DATE         501179 non-null  object
 16  INVC_ADDR1              0 non-null       float64
 17  INVC_ADDR2              0 non-null       float64
 18  INVC_ADDR3              0 non-null       float64
 19  INVC_RGN_CODE           0 non-null       float64
 20  INVC_STCD_CODE          0 non-null       float64
 21  INVC_CITY_CODE          0 non-null       float64
 22  INVC_LCTN_CODE          0 non-null       float64
 23  INVC_PIN_CODE           0 non-null       float64
 24  INVC_CNCL_YN            17065 non-null   object
 25  INVC_CNCL_DATE          17065 non-null   object
 26  INVC_CNCL_RMRKS         15252 non-null   object
 27  INVC_BKNG_NO            951070 non-null  object
 28  INVC_CRTE_DTIME         951070 non-null  object
 29  INVC_CRTE_EMP_NO        951070 non-null  object
 30  INVC_UPDT_DTIME         951070 non-null  object
 31  INVC_UPDT_EMP_NO        951070 non-null  object
 32  INVC_ACTRL_USR_YN       444616 non-null  object
 33  INVC_DN_DATE            43870 non-null   object
 34  INVC_DLVRY_CNFM_YN      0 non-null       float64
 35  INVC_CC_REQ             0 non-null       float64
 36  INVC_CC_REASON          0 non-null       float64
 37  INVC_CC_RDATE           0 non-null       float64
 38  INVC_CC_RMRKS           0 non-null       float64
 39  INVC_CC_RA_YN           0 non-null       float64
 40  INVC_CC_STATUS          0 non-null       float64
 41  INVC_CC_REQ_VERSION     0 non-null       float64
 42  INVC_HMIL_EMP_CODE      0 non-null       float64
 43  INVC_ENQRY_NO           951070 non-null  object
 44  INVC_REGI_FILE_DOC_NO   14018 non-null   object
 45  INVC_DLVRY_FILE_DOC_NO  24685 non-null   object
 46  INVC_REGI_CUST_NO       177509 non-null  object
 47  INVC_REGI_RELAT_SHIP    144946 non-null  object
 48  INVC_VIN_NO             507756 non-null  object
 49  INVC_BASIC_PRCE         518820 non-null  float64
 50  INVC_VRNT_PRCE          518820 non-null  float64
 51  INVC_ADVNC_EMI          518820 non-null  float64
 52  INVC_LOAN_AMT           518820 non-null  float64
 53  INVC_WTYNLTY_CFC_YN     49 non-null      object
 54  INVC_EQCR_SEQ           951070 non-null  int64
 55  INVC_ALCN_DATE          507500 non-null  object
 56  INVC_SCHEME_YN          518820 non-null  object
 57  INVC_MYKIA              152159 non-null  object
 58  INVC_MYKIA_REG_DATE     152159 non-null  object
 59  INVC_MK_VINLINK_DT      152151 non-null  object
dtypes: float64(24), int64(1), object(35)
memory usage: 435.4+ MB

In [149]:
df['Delivery_Date'] = pd.to_datetime(df['INVC_DLVRY_DATE'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')

In [150]:
df['Delivery_Date']

0                NaN
1         23/10/2019
2         17/10/2019
3                NaN
4         01/10/2019
             ...
951065           NaN
951066           NaN
951067           NaN
951068           NaN
951069           NaN
Name: Delivery_Date, Length: 951070, dtype: object

In [151]:
import numpy as np

In [152]:
df["INVC_BASIC_PRCE"] = df["INVC_BASIC_PRCE"].fillna(0)

In [153]:
df["INVC_BASIC_PRCE"] = df["INVC_BASIC_PRCE"].apply(np.int64)

In [154]:
df["INVC_BASIC_PRCE"]

0               0
1         1171724
2         1171724
3               0
4          771724
           ...
951065          0
951066          0
951067          0
951068          0
951069          0
Name: INVC_BASIC_PRCE, Length: 951070, dtype: int64

In [155]:
df["INVC_BASIC_PRCE"] = df["INVC_BASIC_PRCE"].astype(str)

In [156]:
df['INVC_BASIC_PRCE'] = df['INVC_BASIC_PRCE'].str.slice(3, 5)

In [157]:
df['INVC_BASIC_PRCE'] = pd.to_numeric(df['INVC_BASIC_PRCE'])

In [158]:
df["INVC_BASIC_PRCE"] = df["INVC_BASIC_PRCE"].fillna(0)

In [159]:
df["INVC_BASIC_PRCE"] = df["INVC_BASIC_PRCE"].apply(np.int64)

In [160]:
df["INVC_BASIC_PRCE"]

0          0
1         17
2         17
3          0
4         72
          ..
951065     0
951066     0
951067     0
951068     0
951069     0
Name: INVC_BASIC_PRCE, Length: 951070, dtype: int64

In [161]:
import datetime

In [162]:
from time import strftime

In [163]:
df['INVC_CNFM_DATE']

0                NaN
1         2019-10-23
2         2019-10-14
3                NaN
4         2019-09-26
             ...
951065           NaN
951066           NaN
951067           NaN
951068           NaN
951069           NaN
Name: INVC_CNFM_DATE, Length: 951070, dtype: object

In [164]:
df['INVC_CNFM_DATE'] =  pd.to_datetime(df['INVC_CNFM_DATE']).dt.date.astype("datetime64[ns]")

In [165]:
df['Invoice_Cofirmation_Date'] = pd.to_datetime(df['INVC_CNFM_DATE'])

In [166]:
df['Invoice_Cofirmation_Date'] = pd.to_datetime(df['INVC_CNFM_DATE'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')

In [168]:
df['INVC_CNFM_DATE']

0               NaT
1        2019-10-23
2        2019-10-14
3               NaT
4        2019-09-26
            ...
951065          NaT
951066          NaT
951067          NaT
951068          NaT
951069          NaT
Name: INVC_CNFM_DATE, Length: 951070, dtype: datetime64[ns]

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951070 entries, 0 to 951069
Data columns (total 62 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   INVC_DLR_NO               951070 non-null  object
 1   INVC_NO                   951070 non-null  object
 2   INVC_CORP_NO              951070 non-null  object
 3   INVC_CMPN_NO              951070 non-null  object
 4   INVC_TYPE                 520694 non-null  object
 5   INVC_CNFM_YN              503571 non-null  object
 6   INVC_CNFM_DATE            511259 non-null  datetime64[ns]
 7   INVC_DATE                 951070 non-null  object
 8   INVC_INSR_YN              495921 non-null  object
 9   INVC_INSR_AMT             0 non-null       float64
 10  INVC_INSR_DATE            1 non-null       float64
 11  INVC_INSR_TYPE            0 non-null       float64
 12  INVC_INSR_NO              500152 non-null  object
 13  INVC_RGSTN_NO             499968 non-null  object
 14  INVC_RGSTN_DATE           500141 non-null  object
 15  INVC_DLVRY_DATE           501179 non-null  object
 16  INVC_ADDR1                0 non-null       float64
 17  INVC_ADDR2                0 non-null       float64
 18  INVC_ADDR3                0 non-null       float64
 19  INVC_RGN_CODE             0 non-null       float64
 20  INVC_STCD_CODE            0 non-null       float64
 21  INVC_CITY_CODE            0 non-null       float64
 22  INVC_LCTN_CODE            0 non-null       float64
 23  INVC_PIN_CODE             0 non-null       float64
 24  INVC_CNCL_YN              17065 non-null   object
 25  INVC_CNCL_DATE            17065 non-null   object
 26  INVC_CNCL_RMRKS           15252 non-null   object
 27  INVC_BKNG_NO              951070 non-null  object
 28  INVC_CRTE_DTIME           951070 non-null  object
 29  INVC_CRTE_EMP_NO          951070 non-null  object
 30  INVC_UPDT_DTIME           951070 non-null  object
 31  INVC_UPDT_EMP_NO          951070 non-null  object
 32  INVC_ACTRL_USR_YN         444616 non-null  object
 33  INVC_DN_DATE              43870 non-null   object
 34  INVC_DLVRY_CNFM_YN        0 non-null       float64
 35  INVC_CC_REQ               0 non-null       float64
 36  INVC_CC_REASON            0 non-null       float64
 37  INVC_CC_RDATE             0 non-null       float64
 38  INVC_CC_RMRKS             0 non-null       float64
 39  INVC_CC_RA_YN             0 non-null       float64
 40  INVC_CC_STATUS            0 non-null       float64
 41  INVC_CC_REQ_VERSION       0 non-null       float64
 42  INVC_HMIL_EMP_CODE        0 non-null       float64
 43  INVC_ENQRY_NO             951070 non-null  object
 44  INVC_REGI_FILE_DOC_NO     14018 non-null   object
 45  INVC_DLVRY_FILE_DOC_NO    24685 non-null   object
 46  INVC_REGI_CUST_NO         177509 non-null  object
 47  INVC_REGI_RELAT_SHIP      144946 non-null  object
 48  INVC_VIN_NO               507756 non-null  object
 49  INVC_BASIC_PRCE           951070 non-null  int64
 50  INVC_VRNT_PRCE            518820 non-null  float64
 51  INVC_ADVNC_EMI            518820 non-null  float64
 52  INVC_LOAN_AMT             518820 non-null  float64
 53  INVC_WTYNLTY_CFC_YN       49 non-null      object
 54  INVC_EQCR_SEQ             951070 non-null  int64
 55  INVC_ALCN_DATE            507500 non-null  object
 56  INVC_SCHEME_YN            518820 non-null  object
 57  INVC_MYKIA                152159 non-null  object
 58  INVC_MYKIA_REG_DATE       152159 non-null  object
 59  INVC_MK_VINLINK_DT        152151 non-null  object
 60  Delivery_Date             501179 non-null  object
 61  Invoice_Cofirmation_Date  511259 non-null  object
dtypes: datetime64[ns](1), float64(23), int64(2), object(36)
memory usage: 449.9+ MB

In [170]:
df.drop(['INVC_VIN_NO','INVC_MYKIA','INVC_MYKIA_REG_DATE','INVC_MK_VINLINK_DT'], axis=1, inplace = True)

In [171]:
df.shape

(951070, 58)

In [172]:
df = df.rename(columns={"INVC_DLR_NO":"Dealer_No","INVC_NO":"Invoice_No","INVC_CORP_NO":"Corporation_No","INVC_CMPN_NO":" Company_No",
                      "INVC_DATE":"Invoice_Date","INVC_ENQRY_NO":"Link_Enquiry_No","INVC_BKNG_NO":"Booking_No","INVC_REGI_CUST_NO":"Customer_No" })

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951070 entries, 0 to 951069
Data columns (total 58 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Dealer_No                 951070 non-null  object
 1   Invoice_No                951070 non-null  object
 2   Corporation_No            951070 non-null  object
 3    Company_No               951070 non-null  object
 4   INVC_TYPE                 520694 non-null  object
 5   INVC_CNFM_YN              503571 non-null  object
 6   INVC_CNFM_DATE            511259 non-null  datetime64[ns]
 7   Invoice_Date              951070 non-null  object
 8   INVC_INSR_YN              495921 non-null  object
 9   INVC_INSR_AMT             0 non-null       float64
 10  INVC_INSR_DATE            1 non-null       float64
 11  INVC_INSR_TYPE            0 non-null       float64
 12  INVC_INSR_NO              500152 non-null  object
 13  INVC_RGSTN_NO             499968 non-null  object
 14  INVC_RGSTN_DATE           500141 non-null  object
 15  INVC_DLVRY_DATE           501179 non-null  object
 16  INVC_ADDR1                0 non-null       float64
 17  INVC_ADDR2                0 non-null       float64
 18  INVC_ADDR3                0 non-null       float64
 19  INVC_RGN_CODE             0 non-null       float64
 20  INVC_STCD_CODE            0 non-null       float64
 21  INVC_CITY_CODE            0 non-null       float64
 22  INVC_LCTN_CODE            0 non-null       float64
 23  INVC_PIN_CODE             0 non-null       float64
 24  INVC_CNCL_YN              17065 non-null   object
 25  INVC_CNCL_DATE            17065 non-null   object
 26  INVC_CNCL_RMRKS           15252 non-null   object
 27  Booking_No                951070 non-null  object
 28  INVC_CRTE_DTIME           951070 non-null  object
 29  INVC_CRTE_EMP_NO          951070 non-null  object
 30  INVC_UPDT_DTIME           951070 non-null  object
 31  INVC_UPDT_EMP_NO          951070 non-null  object
 32  INVC_ACTRL_USR_YN         444616 non-null  object
 33  INVC_DN_DATE              43870 non-null   object
 34  INVC_DLVRY_CNFM_YN        0 non-null       float64
 35  INVC_CC_REQ               0 non-null       float64
 36  INVC_CC_REASON            0 non-null       float64
 37  INVC_CC_RDATE             0 non-null       float64
 38  INVC_CC_RMRKS             0 non-null       float64
 39  INVC_CC_RA_YN             0 non-null       float64
 40  INVC_CC_STATUS            0 non-null       float64
 41  INVC_CC_REQ_VERSION       0 non-null       float64
 42  INVC_HMIL_EMP_CODE        0 non-null       float64
 43  Link_Enquiry_No           951070 non-null  object
 44  INVC_REGI_FILE_DOC_NO     14018 non-null   object
 45  INVC_DLVRY_FILE_DOC_NO    24685 non-null   object
 46  Customer_No               177509 non-null  object
 47  INVC_REGI_RELAT_SHIP      144946 non-null  object
 48  INVC_BASIC_PRCE           951070 non-null  int64
 49  INVC_VRNT_PRCE            518820 non-null  float64
 50  INVC_ADVNC_EMI            518820 non-null  float64
 51  INVC_LOAN_AMT             518820 non-null  float64
 52  INVC_WTYNLTY_CFC_YN       49 non-null      object
 53  INVC_EQCR_SEQ             951070 non-null  int64
 54  INVC_ALCN_DATE            507500 non-null  object
 55  INVC_SCHEME_YN            518820 non-null  object
 56  Delivery_Date             501179 non-null  object
 57  Invoice_Cofirmation_Date  511259 non-null  object
dtypes: datetime64[ns](1), float64(23), int64(2), object(32)
memory usage: 420.9+ MB

In [174]:
df.shape

(951070, 58)